body {
    background: #282828;
    color: white;
}

.header {
    text-align: center;
    padding: 20px;
}

.imageKoala {
    width: 400px;
    length: 600px;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    
}