body {
    background: #282828;
    color: white;
}

.header {
    text-align: center;
    padding: 20px;
}

.imageKoala {
    width: 400px;
    height: 600px;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    border: 2px solid #ddd;
    padding: 100px;
    width: 700px;
}

#output1 {
    width: fit-content;
    background-color: #282828;
    padding: 5px;
    margin-bottom: 1em;
    overflow-wrap: anywhere;
}