body {
    background: #282828;
    color: white;
}

.header {
    text-align: center;
    padding: 20px;
}

.imageKoala {
    width: 400px;
    height: 600px;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    border: 2px solid #ddd;
    padding: 10px;
    width: 80%;
    min-height:200px;
    align-self: center;
}

#output1 {
    width: fit-content;
    background-color: #282828;
    padding: 2px;
    margin-bottom: 1px;
    margin-top: auto;
    overflow-wrap: anywhere;
}